[submodule "RimakiXAPI"]
	path = RimakiXAPI
	url = https://github.com/ThelabDevelopment/RimakiXAPI
[submodule "RimakiBDSAI"]
	path = RimakiBDSAI
	url = https://github.com/ThelabDevelopment/RimakiBDSAI
